* {
    margin: 0;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    outline: none;
}

main {
    width: 90vw;
    margin: 0 auto;

    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cinza {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    
}

/* CABEÇALHO */

header {
    background-color: rgba(0,0,255,0.8);
    font-size: 1.5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: white;
}

.button-clean {
    border: solid 2px white;
    padding: 0.5rem;
}